#allmap {
    height:500px;
    width:50%;
    float:left;
}
#video{
    height:300px;
    width: 30%;
    float:left;
}
#status{
    height: 50px;
    float: left;
}
#longitude{
    height: 50px;
    float: left;
}
#latitude{
    height: 50px;
    float: left;
}